<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
  <link rel="icon" href="/assets/favicon.ico">
  <!-- Title -->
  <title>SAKIB || Free API</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-success text-white border-bottom border-bottom-dark"
    data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">SAKIBAPI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main Body -->
  <div class="container-lg mt-3">
    <h5>There is Some api for testing. All Api is free. You can test your frontend.</h5>
    <hr>
    <h2>User</h2>
    <div class="accordion mt-2" id="user-api">
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#user-collapseOne" aria-expanded="true" aria-controls="user-collapseOne">
            New User Register/SignUp
          </button>
        </h1>
        <div id="user-collapseOne" class="accordion-collapse collapse" data-bs-parent="#user-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>POST</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/auth/register">
                  <%=base_url%>/api/auth/register
                </a></strong></p>
            <hr>
            <p>Request Body-> <strong>
                <pre>
  {
  "name":"Your Name",
  "email":"Your Email",
  "password":"Your Password"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Example Body-> <strong>
                <pre>
  {
  "name":"ABC",
  "email":"abc@gmail.com",
  "password":"123456789"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Response-> <strong>
                <pre>
  {
    "name": "Your NAME",
    "email": "Your email",
    "password": "Your Password",
    "token": "YOUR_TOKEN"
  }
                        </pre>
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#user-collapseTwo" aria-expanded="false" aria-controls="user-collapseTwo">
            User login/SignIn
          </button>
        </h2>
        <div id="user-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#user-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>POST</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/auth/login">
                  <%=base_url%>/api/auth/login
                </a></strong></p>
            <hr>
            <p>Request Body-> <strong>
                <pre>
  {
      "email": "Your Email",
      "password": "Your Password"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Example Body-> <strong>
                <pre>
  {
      "email": "abc@gmail.com",
      "password": "123456789"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Response-> <strong>
                <pre>
  {
    "name": "Your NAME",
    "email": "Your email",
    "password": "Your Password",
    "token": "YOUR_TOKEN"
  }
                        </pre>
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="mt-2">CRUD(Employee)</h2>
    <div class="accordion mt-2" id="crud-api">
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#crud-collapseOne" aria-expanded="true" aria-controls="crud-collapseOne">
            Employee List (GET)
          </button>
        </h1>
        <div id="crud-collapseOne" class="accordion-collapse collapse" data-bs-parent="#crud-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>GET</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/employee">
                  <%=base_url%>/api/employee
                </a></strong></p>
            <hr>
            <p>Request Header->
              Key: <strong>
                Authorization
              </strong>
              Value: <strong?>
                Token(Token, Which generate when user login.)
                </strong>
            </p>
            <hr>
            <p>Response->
            <pre>
[
  {
    "_id": "648bcb0b004f8303442ca860",
    "firstName": "ABC",
    "lastName": "XYZ",
    "age": 21,
    "address": "XFSLLD",
    "user_email": "abc@gmail.com"
  },
  {
    "_id": "648bcb17004f8303442ca861",
    "firstName": "ABCC",
    "lastName": "XYZ",
    "age": 21,
    "address": "XFSLLD",
    "user_email": "abc@gmail.com"
  }
]
              </pre>
            </p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#crud-collapseTwo" aria-expanded="true" aria-controls="crud-collapseTwo">
            Specific Employee (GET)
          </button>
        </h1>
        <div id="crud-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#crud-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>GET</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/employee/:employee_id">
                  <%=base_url%>/api/employee/:employee_id
                </a></strong></p>
            <hr>
            <p>Request Header->
              Key: <strong>
                Authorization
              </strong>
              Value: <strong?>
                Token(Token, Which generate when user login.)
                </strong>
            </p>
            <hr>
            <p>Response->
            <pre>
  {
    "_id": "648bcb17004f8303442ca861",
    "firstName": "ABCC",
    "lastName": "XYZ",
    "age": 21,
    "address": "XFSLLD",
    "user_email": "abc@gmail.com"
  }
              </pre>
            </p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#crud-collapseThree" aria-expanded="true" aria-controls="crud-collapseThree">
            Add New Employee (CREATE)
          </button>
        </h1>
        <div id="crud-collapseThree" class="accordion-collapse collapse" data-bs-parent="#crud-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>POST</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/employee">
                  <%=base_url%>/api/employee
                </a></strong></p>
            <hr>
            <p>Request Header->
              Key: <strong>
                Authorization
              </strong>
              Value: <strong>
                Token(Token, Which generate when user login.)
              </strong>
              <hr>
            <p>Request Body-> <strong>
                <pre>
  {
    "firstName":"Employee Name",
    "lastName":"Employee Last Name(Optional)",
    "age":"Employee Age",
    "address":"Employee Address"
  }
                  </pre>
              </strong>
            </p>
            <hr>
            <p>Example Body-> <strong>
                <pre>
  {
    "firstName":"ABC",
    "lastName":"XYZ",
    "age":20,
    "address":"HE 1218, XYZ City, India 124367"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Response-> <strong>
                <pre>
  {
    "firstName": "ABCDEF",
    "lastName": "XYZ",
    "age": 20,
    "address": "HE 1218, XYZ City, India 124367",
    "user_email": "abc@gmail.com",
    "_id": "648bcc4b004f8303442ca862"
  }
                        </pre>
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#crud-collapseFour" aria-expanded="true" aria-controls="crud-collapseFour">
            Update/Change Employee Info (UPDATE)
          </button>
        </h1>
        <div id="crud-collapseFour" class="accordion-collapse collapse" data-bs-parent="#crud-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>PUT</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/employee/:employee_id">
                  <%=base_url%>/api/employee/:employee_id
                </a></strong></p>
            <hr>
            <p>Request Header->
              Key: <strong>
                Authorization
              </strong>
              Value: <strong>
                Token(Token, Which generate when user login.)
              </strong>
              <hr>
            <p>Request Body-> <strong>
                <pre>
  {
    "firstName":"Updated Employee Name",
    "lastName":"Updated Employee Last Name(Optional)",
    "age":"Updated Employee Age",
    "address":"Updated Employee Address"
  }
                  </pre>
              </strong>
            </p>
            <p>Example Body-> <strong>
                <pre>
  {
    "firstName":"ABC",
    "lastName":"XYZ",
    "age":20,
    "address":"HE 1218, XYZ City, India 124367"
  }
                        </pre>
              </strong>
            </p>
            <hr>
            <p>Response-> <strong>
                <pre>
  {
    "firstName": "ABCDEF",
    "lastName": "XYZ",
    "age": 20,
    "address": "HE 1218, XYZ City, India 124367",
    "user_email": "abc@gmail.com",
    "_id": "648bcc4b004f8303442ca862"
  }
                        </pre>
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#crud-collapseFive" aria-expanded="true" aria-controls="crud-collapseFive">
            Remove/Delete Employee Info (DELETE)
          </button>
        </h1>
        <div id="crud-collapseFive" class="accordion-collapse collapse" data-bs-parent="#crud-api">
          <div class="accordion-body">
            <p>Request Method-> <strong>DELETE</strong></p>
            <hr>
            <p>Request URL-> <strong><a href="<%=base_url%>/api/employee/:employee_id">
                  <%=base_url%>/api/employee/:employee_id
                </a></strong></p>
            <hr>
            <p>Request Header->
              Key: <strong>
                Authorization
              </strong>
              Value: <strong>
                Token(Token, Which generate when user login.)
              </strong>
              <hr>
            </p>
            <p>Response->
            <pre>
  {
    "message": "Successfully Delete employee"
  }
              </pre>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mb-0">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="text-muted">© <span id="year"></span> SAKIB-API, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg></a></li>
    </ul>
  </footer>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js">
  </script>
</body>

</html>